<div class="container">
  <header>
    <h1>{{title()}}</h1>
  </header>

  <app-relation-input (analyze)="onAnalyze($event)" />
  
  @if (properties()) {
    <div class="results">
      <app-properties-display [properties]="properties()!" />
      
      <div class="visualizations">
        <app-matrix-display 
          [setA]="setA()" 
          [setB]="setB()" 
          [matrix]="matrix()" />

        <app-graph-display 
          [setA]="setA()" 
          [setB]="setB()" 
          [relation]="relation()" />

        @if (properties()?.equivalenceRelation) {
          <div class="visualization">
            <app-equivalence-classes
            [eqClass]="equivalenceClasses()!"
            />
          </div>
        }
        
        <app-hasse-diagram
          [hasseData]="hasseData()!"
          [orderRelation]="properties()?.orderRelation"
        />
      </div>
    </div>
  }
</div>